body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#google_translate_element {
    padding: 10px;
}

form {
    padding: 10px;
    background: #f5f5f5;
}



#map {
    height: 65vh;
    width: 100%;
}



input,button {
    margin: 3px 0;
}